<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>moe.astrian.alfwf_pass</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1455C718-9096-475D-B4E5-64695E1ECA97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EFC067A-37AA-435D-9FD1-CAD587345633</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40CC44AA-FE50-408A-84A3-68F83ED5273E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C5887C15-FCE8-4CE8-81C0-83D89BD2C178</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show OTP in large text.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33983786-0EE7-45D5-A22E-B4AE1B069577</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy crentical fields...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33983786-0EE7-45D5-A22E-B4AE1B069577</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F2676B6-75B4-4D1F-BF3F-E3F1E6205B69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD81378A-7AA2-469F-816B-E1E3402BAEB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45C858C5-D3B8-4E22-8A38-B2B0A2A2E703</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F2676B6-75B4-4D1F-BF3F-E3F1E6205B69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63EE5346-9D16-4B72-903F-71D0FCA95053</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40CC44AA-FE50-408A-84A3-68F83ED5273E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87331BFE-3219-4584-9B8B-CD75A93CA18E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45C858C5-D3B8-4E22-8A38-B2B0A2A2E703</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DAB2BB2-D5CE-47ED-B223-177AB0E12EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DAB2BB2-D5CE-47ED-B223-177AB0E12EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1F246CE-7C43-43AD-A710-C53421787A1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EFC067A-37AA-435D-9FD1-CAD587345633</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC6D9F3A-C1CC-4A54-B67F-43FB87B185B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63EE5346-9D16-4B72-903F-71D0FCA95053</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DAB2BB2-D5CE-47ED-B223-177AB0E12EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5887C15-FCE8-4CE8-81C0-83D89BD2C178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F38FC20-C658-495D-A299-5DEA95431115</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3B80495-FE85-4DE0-A65B-22350A06A60A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6CF6813-6167-484D-AE9D-07E8AB4102CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D52A5476-6EA8-4CED-AAB6-B4CAB9109AB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD69565B-16A7-4198-B3F2-ED8FF4A4B611</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC6D9F3A-C1CC-4A54-B67F-43FB87B185B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3B80495-FE85-4DE0-A65B-22350A06A60A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC3E78D4-F982-4A18-BEA7-8E6EEBEF9139</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DAB2BB2-D5CE-47ED-B223-177AB0E12EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD69565B-16A7-4198-B3F2-ED8FF4A4B611</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD0F2C3A-B061-476A-A967-C13900723163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD81378A-7AA2-469F-816B-E1E3402BAEB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC3E78D4-F982-4A18-BEA7-8E6EEBEF9139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Astrian Zheng</string>
	<key>description</key>
	<string>Pass compaion workflow for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredPass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Also copied OTP</string>
				<key>title</key>
				<string>Filled credentials</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C6CF6813-6167-484D-AE9D-07E8AB4102CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  let props = argv[0].split("\n")
  let password = props[0]
  let username = ""
  for (let i in props) {
    if (props[i].startsWith("login: ")) {
      username = props[i].split("login: ")[1]
    }
  }
  
  return `${username}\n${password}`
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC6D9F3A-C1CC-4A54-B67F-43FB87B185B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv
  tell application "System Events"
    set splitedArgv to paragraphs of theQuery    repeat with theItem in splitedArgv
      keystroke theItem
      key code 48
    end repeat  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D3B80495-FE85-4DE0-A65B-22350A06A60A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=/opt/homebrew/bin:$PATH
pass "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EFC067A-37AA-435D-9FD1-CAD587345633</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>87331BFE-3219-4584-9B8B-CD75A93CA18E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=/opt/homebrew/bin:$PATH
pass otp "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40CC44AA-FE50-408A-84A3-68F83ED5273E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching {query}...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node searchquery.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Autofill username and password.</string>
				<key>title</key>
				<string>Find crenticals in the vault...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1455C718-9096-475D-B4E5-64695E1ECA97</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>7F38FC20-C658-495D-A299-5DEA95431115</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=/opt/homebrew/bin:$PATH
pass otp "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5887C15-FCE8-4CE8-81C0-83D89BD2C178</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  let props = argv[0].split("\n")
  let password = props[0]
  let username = ""
  for (let i in props) {
    if (props[i].startsWith("login: ")) {
      username = props[i].split("login: ")[1]
    }
  }
  
  return username
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63EE5346-9D16-4B72-903F-71D0FCA95053</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>PATH=/opt/homebrew/bin:$PATH
pass "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F2676B6-75B4-4D1F-BF3F-E3F1E6205B69</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Item copied</string>
				<key>title</key>
				<string>AlfredPass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D1F246CE-7C43-43AD-A710-C53421787A1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  let props = argv[0].split("\n")
  let password = props[0]
  let username = ""
  for (let i in props) {
    if (props[i].startsWith("login: ")) {
      username = props[i].split("login: ")[1]
    }
  }
  
  return password
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC3E78D4-F982-4A18-BEA7-8E6EEBEF9139</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>PATH=/opt/homebrew/bin:$PATH
pass "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD81378A-7AA2-469F-816B-E1E3402BAEB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5DAB2BB2-D5CE-47ED-B223-177AB0E12EBA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Copy username</string>
				<key>button2</key>
				<string>Copy password</string>
				<key>button3</key>
				<string>Copy OTP</string>
				<key>description</key>
				<string></string>
				<key>title</key>
				<string>What do you want?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>33983786-0EE7-45D5-A22E-B4AE1B069577</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>PATH=/opt/homebrew/bin:$PATH
pass otp "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45C858C5-D3B8-4E22-8A38-B2B0A2A2E703</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>passpull</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Fetch updated data from Pass vault git repository</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D52A5476-6EA8-4CED-AAB6-B4CAB9109AB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/.password-store
git pull</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD69565B-16A7-4198-B3F2-ED8FF4A4B611</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Update completed</string>
				<key>title</key>
				<string>AlfredPass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FD0F2C3A-B061-476A-A967-C13900723163</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># AlfredPass
A Pass (https://passwordstore.org) companion applet for Alfred Workflow. Type in just few words, autofill supported.

![Screenshot of the Workflow](https://s2.loli.net/2022/11/20/4LrSWpMBdf6Jzxt.png)

[Watch showcase video](https://www.youtube.com/watch?v=YA6dJ1dstRM)

## Basic use
**Note:** You need to purchase [Alfred Powerpack](https://www.alfredapp.com/powerpack/) to use workflow feature in Alfred.

- Download latest version of AlfredPass Workflow package file
- Open the file with Alfred
- Open any webpage, and focus on the username field
- Activate Alfred, input `pass`, space, and your crentical name
- Selete crentical you need to autofilled in, press enter, and done.

The workflow will autofill your username and password with AppleScript, and copy OTP if already have one.

## Other features
### Large type of OTP
Select crentical with holding ⌥ (Option) key, the workflow will show the OTP with large type mode.

![Large type showcase](https://s2.loli.net/2022/11/20/JXEaNRzkiSFeAcj.png)

### Copy login crenticals one-by-one
Select crentical with holding ⌘ (Command) key, the workflow will ask you copy which field. After that, you can paste them into field. It is useful when the login page has step-by-step experience.

## License
MIT

The icon embed inside the workflow: &lt;a href="https://www.flaticon.com/free-icons/lock" title="lock icons"&gt;Lock icons created by Freepik - Flaticon&lt;/a&gt;</string>
	<key>uidata</key>
	<dict>
		<key>1455C718-9096-475D-B4E5-64695E1ECA97</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>33983786-0EE7-45D5-A22E-B4AE1B069577</key>
		<dict>
			<key>note</key>
			<string>Copy items into clipboard, ask which should be copied</string>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>3F2676B6-75B4-4D1F-BF3F-E3F1E6205B69</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>40CC44AA-FE50-408A-84A3-68F83ED5273E</key>
		<dict>
			<key>note</key>
			<string>Copy OTP</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>45C858C5-D3B8-4E22-8A38-B2B0A2A2E703</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
		<key>5DAB2BB2-D5CE-47ED-B223-177AB0E12EBA</key>
		<dict>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>5EFC067A-37AA-435D-9FD1-CAD587345633</key>
		<dict>
			<key>note</key>
			<string>Autofill username and password</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>63EE5346-9D16-4B72-903F-71D0FCA95053</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>7F38FC20-C658-495D-A299-5DEA95431115</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>87331BFE-3219-4584-9B8B-CD75A93CA18E</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>C5887C15-FCE8-4CE8-81C0-83D89BD2C178</key>
		<dict>
			<key>note</key>
			<string>Showing large OTP</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>C6CF6813-6167-484D-AE9D-07E8AB4102CD</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>D1F246CE-7C43-43AD-A710-C53421787A1C</key>
		<dict>
			<key>xpos</key>
			<real>1280</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>D3B80495-FE85-4DE0-A65B-22350A06A60A</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>D52A5476-6EA8-4CED-AAB6-B4CAB9109AB1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1125</real>
		</dict>
		<key>EC6D9F3A-C1CC-4A54-B67F-43FB87B185B2</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>FC3E78D4-F982-4A18-BEA7-8E6EEBEF9139</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>FD0F2C3A-B061-476A-A967-C13900723163</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1125</real>
		</dict>
		<key>FD69565B-16A7-4198-B3F2-ED8FF4A4B611</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1125</real>
		</dict>
		<key>FD81378A-7AA2-469F-816B-E1E3402BAEB4</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/Astrian/AlfredPass</string>
</dict>
</plist>
